.main-page-my-travel {
    height: 100vh;
    position: relative;
    background-image: url("../../assets/images/1894678.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: mainpage 1s ease-in-out forwards;
    opacity: 0.3;
}
.main-page-text {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: #3066be91;
    padding: 10px;
    border-radius: 3px;
    color: white;
}

.main-page-text p {
    font-size: 15px;
}

.main-page-text button {
    border: none;
    background-color: rgb(4, 45, 83);
    color: white;
    padding: 5px 20px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
}

.main-page-text button:hover {
    background-color: white;
    color: black;
}
.travel-us {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #3066be;
    -webkit-animation: roll-in-left 0.6s ease-out both;
            animation: roll-in-left 0.6s ease-out both;
            animation-delay: 1s;
}
.travel-us a {
    color: white;

}
.travel-us:hover {
   
}
.travel-us p {
    font-size: 8px;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
}
@keyframes mainpage {
    from {opacity: 0.3;}
    to {opacity:  1;}
}

@media (max-width: 420px){
    .main-page-text {
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

@-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  